<div>
  <h1>{{ 'PAYROLL.TITLE' | content }}</h1>
  <p>{{ 'PAYROLL.SUBTITLE' | content }}</p>
  <h1>{{ 'SUPPLIERS.TITLE' | content }}</h1>
  <p>{{ 'SUPPLIERS.SUBTITLE' | content }}</p>
  <section>
    <h2>{{ 'SHARED.MANUAL.TITLE' | content }}</h2>
    <p>{{ 'SHARED.MANUAL.DESCRIPTION' | content }}</p>
    <button>{{ 'SHARED.MANUAL.ACTION' | content }}</button>
  </section>
  
  <section>
    <h2>{{ 'SHARED.MASSIVE.TITLE' | content }}</h2>
    <p>{{ 'SHARED.MASSIVE.DESCRIPTION' | content }}</p>
    <button>{{ 'SHARED.MASSIVE.ACTION' | content }}</button>
  </section>
</div>

